<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Contacts Book</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
        <script
            src="https://unpkg.com/htmx.org@1.9.11"
            integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
            crossorigin="anonymous"
        ></script>
    </head>

    <body>
        <form hx-post="/contact" hx-swap="outerHTML">
            <label for="name"
                >Name:<input id="name" type="text" name="name" required
            /></label>
            <label for="phone_number"
                >Number:
                <input
                    type="tel"
                    id="phone_number"
                    name="phone_number"
                    required
                />
            </label>
            <label for="email"
                >Email:<input id="email" name="email" type="text" required
            /></label>
            <input type="submit" />
        </form>
        <ul id="contact-list">
            {{ contacts_view|safe }}
        </ul>
    </body>
</html>
